<h1>List of Socks</h1>

<div class="row m-3" >
  <% @socks.each do |sock| %>
    <div class="card-product m-3">
      <%= cl_image_tag(sock.photo.key, width: 200, height: 200, crop: :fill) %>
      <div class="card-product-infos">
        <h2><%= sock.price %> $</h2>
        <p><%= sock.description.first(50) %>...</p>
      </div>
    </div>
  <% end %>
</div>
