<h1>List of Socks</h1>

<div class="row">
  <% @socks.each do |sock| %>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body d-flex">
            <%= cl_image_tag(sock.photo.key, width: 200, height: 200, crop: :fill) %>
            <%= sock.description %>
            <%= sock.price %>
            <%= sock.type_of_socks %>
          </div>
        </div>
      </div>
  <% end %>
</div>
