<div class="banner">
  <div class="main-container">
    <h1>Socks Exchange</h1>
    <span class="typed-js"></span>
  </div>
  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="searchbar">
        <input class="search_input" type="text" name="" placeholder="Search...">
        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
      </div>
    </div>
  </div>
</div>
<h1 class="row-title">Categories</h1>
<div class="row row-home">
  <div class="col-sm-4">
    <div class="card">
      <a href="" class="product-link">
      <div class="card-body">
        <img class="card-img-top" src="https://shop-cdn.sockittome.com/spree/products/33100/large/F0521-RainbowMane-KneeHighSocks-MODEL_SHOT.jpg?1598900130" alt="Card image cap">
        <div class="centered"><h2 class="card-text">Knee High Socks</h2></div>
      </div>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <a href="" class="product-link">
      <div class="card-body">
        <img class="card-img-top" src="https://www.goneforarun.com/on/demandware.static/-/Sites-ChalkTalk_SPORTS_master/default/dwf873c500/tr-37560-lifestyle.jpg" alt="Card image cap">
        <div class="centered"><h2 class="card-text">Calf Socks</h2></div>
      </div>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <a href="" class="product-link">
      <div class="card-body">
        <img class="card-img-top" src="http://cdn.shopify.com/s/files/1/0269/4456/9415/products/ZL2P3986_on_human_grande.jpg?v=1576565407" alt="Card image cap">
        <div class="centered"><h2 class="card-text">Ankle Socks</h2></div>
      </div>
      </a>
    </div>
  </div>
</div>

<h1 class="row-title">Newest products</h1>
<div class="row row-home">
  <div class="col-sm-4">
    <div class="card">
      <a href="" class="product-link">
      <div class="card-body">
        <img class="card-img-top" src="" alt="Card image cap">        <p class="card-description">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <a href="" class="product-link">
      <div class="card-body">
        <img class="card-img-top" src="" alt="Card image cap">        <p class="card-description">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      </a>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <a href="" class="product-link">
      <div class="card-body">
        <img class="card-img-top" src="" alt="Card image cap">        <p class="card-description">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      </a>
    </div>
  </div>
</div>
