.navbar-lewagon {
  justify-content: space-between;
  background: #f5f5f5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  font-family: Nunito;

}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 50%;
}

.dropdown-item {
  font-family: Nunito;
}
